<div class="Register  col-md-8 offset-md-2 pt-4">
    <div class="row col-md-8 offset-md-2">
      <div class="col">
        <h3>Welcome to TicketApp - Register here</h3>
      </div>
    </div>
  
   <div class="form-container">
    <div class="form-row pt-2">
      <div class="col">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="xEmail" #ctrl1="ngModel" />
      </div>
      <div class="col">
        <input type="email" class="form-control" placeholder="Verify Email" [(ngModel)]="yEmail" #ctrl1="ngModel" />
      </div>
    </div>
    <div class="form-row pt-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="xFirstName" #ctrl1="ngModel"/>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="xLastName" #ctrl1="ngModel" />
      </div>
    </div>
    <div class="form-row pt-2">
      <div class="col">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="xPassword" #ctrl1="ngModel"/>
      </div>
      <div class="col">
        <input type="password" class="form-control" placeholder="Password confirm" [(ngModel)]="yPassword" #ctrl1="ngModel"/>
      </div>
    </div>
        <div class="form-row pt-2">
          <div class="col" *ngFor="let company of companies">
                <button class="btn btn-primary col-8 offset-2 mt-4" (click)="companyId(company._id)">{{company.name}}</button>
          </div>          
        </div>
  <button class="btn btn-secondary col-8 offset-2 mt-4" (click)="signUp()"> Sign Up </button>
  <button class="btn btn-secondary col-8 offset-2 mt-4" (click)="redirect()"> login </button>
   </div>
  
</div>