<div className="Home">
    <div className="row col-md-8 offset-md-4 pt-4">
   <div className="col">
     <h1>Welcome to de TicketApp</h1>
     <p>in this app you can to work over any project without problems and easer!!</p>
   </div>
 </div>
 <div className="row col-md-8 offset-md-4 pt-4">
   <div className="col">
     <button routerLink="/login" className="btn btn-primary">Sign In</button>
   </div>
   <div className="col">
     <button routerLink="/register" className="btn btn-primary">Sign Up</button>
   </div>
 </div>
</div>