<div class="Storie col-md-10 offset-md-1 pt-4">
    <div class="row">
      <div class="col">
        <h3>Estos son las historias para este proyecto</h3>
      </div>
    </div>
    <div class="card my-4" *ngFor="let storie of stories" >
      <div class="card-body">
        <h5 class="card-title">{{storie.name}}</h5>
        <p class="card-text">{{storie.description}}</p>
        <button (click)="sessionId(storie._id)" href="#" class="card-link">Tickets</button>
      </div>
    </div>
  </div>